In [1]:
import warnings

In [2]:
warnings.filterwarnings('ignore')

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
from sklearn import preprocessing

In [27]:
movie_data = pd.read_csv('../Dataset/IMDB-Movie-Data.csv',error_bad_lines = False, sep = ',')

In [28]:
movie_data = movie_data.dropna()

In [29]:
movie_data.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [9]:
len(movie_data)

12392

In [30]:
movie_data.describe()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,838.000000,838.00000,838.000000,838.000000,8.380000e+02,838.000000,838.000000
mean,485.247017,2012.50716,114.638425,6.814320,1.932303e+05,84.564558,59.575179
std,286.572065,3.17236,18.470922,0.877754,1.930990e+05,104.520227,16.952416
min,1.000000,2006.00000,66.000000,1.900000,1.780000e+02,0.000000,11.000000
25%,238.250000,2010.00000,101.000000,6.300000,6.127650e+04,13.967500,47.000000
50%,475.500000,2013.00000,112.000000,6.900000,1.368795e+05,48.150000,60.000000
75%,729.750000,2015.00000,124.000000,7.500000,2.710830e+05,116.800000,72.000000
max,1000.000000,2016.00000,187.000000,9.000000,1.791916e+06,936.630000,100.000000

In [15]:
from sklearn.preprocessing import Binarizer

In [34]:
binarizer = Binarizer(threshold = 7).fit( movie_data[['Rating']])

In [21]:
movie_data['imdbRating'].round()

0        8.0
1        8.0
2        8.0
3        8.0
4        9.0
        ...
14326    8.0
14327    8.0
14328    7.0
14329    7.0
14331    8.0
Name: imdbRating, Length: 12392, dtype: float64

In [22]:
movie_data.head()

,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,type,...,News,RealityTV,Romance,SciFi,Short,Sport,TalkShow,Thriller,War,Western
0,titles01/tt0012349,tt0012349,Der Vagabund und das Kind (1921),der vagabund und das kind,http://www.imdb.com/title/tt0012349/,8.4,40550.0,3240.0,1921.0,video.movie,...,0,0,0,0,0,0,0,0,0,0
1,titles01/tt0015864,tt0015864,Goldrausch (1925),goldrausch,http://www.imdb.com/title/tt0015864/,8.3,45319.0,5700.0,1925.0,video.movie,...,0,0,0,0,0,0,0,0,0,0
2,titles01/tt0017136,tt0017136,Metropolis (1927),metropolis,http://www.imdb.com/title/tt0017136/,8.4,81007.0,9180.0,1927.0,video.movie,...,0,0,0,1,0,0,0,0,0,0
3,titles01/tt0017925,tt0017925,Der General (1926),der general,http://www.imdb.com/title/tt0017925/,8.3,37521.0,6420.0,1926.0,video.movie,...,0,0,0,0,0,0,0,0,0,0
4,titles01/tt0021749,tt0021749,Lichter der Großstadt (1931),lichter der gro stadt,http://www.imdb.com/title/tt0021749/,8.7,70057.0,5220.0,1931.0,video.movie,...,0,0,1,0,0,0,0,0,0,0

In [35]:
binarizer_x = binarizer.transform(movie_data[['Rating']])

In [36]:
print(binarizer_x[0:10,:])

[[1.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]]

In [37]:
binary_rating_df = pd.DataFrame(data = binarizer_x, columns=['Binary Rating'])

In [38]:
binary_rating_df.head()

   Binary Rating
0            1.0
1            0.0
2            1.0
3            1.0
4            0.0

In [40]:
movie_data_updated = pd.concat([movie_data, binary_rating_df], axis=1)
movie_data_updated[['Title', 'Year', 'Rating', 'Binary Rating']].head(20)

                                      Title    Year  Rating  Binary Rating
0                   Guardians of the Galaxy  2014.0     8.1            1.0
1                                Prometheus  2012.0     7.0            0.0
2                                     Split  2016.0     7.3            1.0
3                                      Sing  2016.0     7.2            1.0
4                             Suicide Squad  2016.0     6.2            0.0
5                            The Great Wall  2016.0     6.1            0.0
6                                La La Land  2016.0     8.3            1.0
7                                       NaN     NaN     NaN            1.0
8                        The Lost City of Z  2016.0     7.1            0.0
9                                Passengers  2016.0     7.0            1.0
10  Fantastic Beasts and Where to Find Them  2016.0     7.5            1.0
11                           Hidden Figures  2016.0     7.8            1.0
12                                Rogue One  2016.0     7.9            1.0
13                                    Moana  2016.0     7.7            0.0
14                                 Colossal  2016.0     6.4            0.0
15                  The Secret Life of Pets  2016.0     6.6            1.0
16                            Hacksaw Ridge  2016.0     8.2            0.0
17                             Jason Bourne  2016.0     6.7            1.0
18                                     Lion  2016.0     8.1            1.0
19                                  Arrival  2016.0     8.0            0.0